{% extends 'adminhome.html' %}

{% block content %}

<section id="main-content" style="min-height: 93vh">
    <section class="wrapper">
        <h3>Add District</h3>
        
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row "> 
            <div class="col-lg-3">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="post" name="myForm" enctype="multipart/form-data" >
                    {% csrf_token %}
                        <div class="form-group" >
                            <label class="col-sm-12 control-label">District</label>
                            <div class="col-sm-12">
                                <input type="text" name="distname" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="col-sm-12">
                                <button  type="submit" name="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        </form>
                </div>
            </div>		
            
            




            <div class="col-lg-9">
                <div class="content-panel" style="padding: 10px">
                    
                    <section id="unseen">
                      <table class="table table-bordered table-striped table-condensed" style="width:100%">
                        <thead>
                        <tr>
                        <th>Sl:No</th>
                        <th>District</th>
                        <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                    
                        {% for d in dist %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{d.dname}}</td>
                            <td><form action="{% url 'deletedist' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="did" value="{{d.did}}">
                                <button type="submit" class="btn btn-success">Delete</button>
                            </form></td>
                        </tr>
                        {% endfor %}						
                      </tbody>
                    </table>
                    </section>
            </div><!-- /content-panel -->
        </div><!-- /col-lg-4 -->			   

        </div>
    </section>
</section>
    

{% endblock content %}
    