
<section id="main-content" style="min-height: 93vh">
    <section class="wrapper">
        <h3>Your Saerch Result is here.........</h3>
        
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt"> 
            <div class="col-lg-12">
                <div class="content-panel" style="padding: 10px">                    
                    <section id="unseen">
                      <table class="table table-bordered table-striped table-condensed" style="width:100%">
                        <thead>
                        <tr>
                        <th>Sl:No</th>
                        <th>Date</th>
                        <th>Bus</th>
                        <th>Bus Type</th>
                        <th>From</th>
                        <th>Departure</th>
                        <th>To</th>
                        <th>Arrival</th>
                        <th>Available Seat</th>
                        </tr>
                        </thead>
                        <tbody>
                    
                        {% for d in data %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{d.schedule_date}}</td>
                            <td>{{d.bus_schedule.bus.bno}}</td>
                            <td>{{d.bus_schedule.bus.btype}}</td>
                            <td>{{d.bus_schedule.route.fromlocation}}</td>
                            <td>{{d.bus_schedule.deptime}}</td>
                            <td>{{d.bus_schedule.route.tolocation}}</td>
                            <td>{{d.bus_schedule.arrivaltime}}</td>
                            <td>{{d.available_seat}}</td>
                             <td>
                              <!--<form action="{" method="post">
                                {% csrf_token %}-->
                                <input type="hidden" name="seatid" id="seatid" value="{{d.seatid}}">
                                <input type="hidden" name="bus" id="bus" value="{{d.bus_schedule.bus.btype}}">
                                <button type="submit" class="btn btn-success" onclick="booknow()">Book Now</button>
                             </td>
                        </tr>
                        {% endfor %}						
                      </tbody>
                    </table>
                    </section>
            </div>
         </div>			 

        </div>
    </section>
</section>
